@model Portfolio.Admin.Models.ModeratorImgModelView
@using Entities


<div class="myCard">
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Moderator Düzenle</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form asp-controller="Moderator" asp-action="Update" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label for="Name">Kullanıcı Adı:</label>
                        <input name="Name" value="@Model.Name" type="text" class="form-control" id="Name" placeholder="Moderator Adı">
                    </div>
                    <div class="form-group">
                        <label for="Password">Sifre:</label>
                        <input name="Password" value="@Model.Password" type="text" class="form-control" id="Password" placeholder="Moderator Sifresi">
                    </div>
                    <div class="form-group">
                        <label for="Adress">Adress:</label>
                        <input name="Adress" value="@Model.Adress" type="text" class="form-control" id="Adress" placeholder="Adress">
                    </div>
                    <div class="form-group">
                        <label for="Email">Mail:</label>
                        <input name="Email" value="@Model.Email" type="text" class="form-control" id="Email" placeholder="Mail">
                    </div>
                    <div class="form-group">
                        <label for="Phone">Telefon No:</label>
                        <input name="Phone" value="@Model.Phone" type="text" class="form-control" id="Phone" placeholder="Telefon No:">
                    </div>
                    <div class="form-group">
                        <label for="Github">Github:</label>
                        <input name="Github" value="@Model.Github" type="text" class="form-control" id="Github" placeholder="Github">
                    </div>
                    <div class="form-group">
                        <label for="Linedln">Linkedln:</label>
                        <input name="Linedln" value="@Model.Linedln" type="text" class="form-control" id="Linedln" placeholder="Linkedln">
                    </div>
                    <div class="form-group">
                        <label for="Instagram">Instagram:</label>
                        <input name="Instagram" value="@Model.Instagram" type="text" class="form-control" id="Instagram" placeholder="Instagram">
                    </div>
                    <div class="form-group">
                        <label for="Twitter">Twitter:</label>
                        <input name="Twitter" value="@Model.Twitter" type="text" class="form-control" id="Twitter" placeholder="Twitter">
                    </div>

                    <div class="form-group">
                        <label>Profil Resmi</label>
                        <input type="file" asp-for="ImageFile" class="form-control-file" />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <a type="button" href="@Url.Action("Index", "Moderator")" class="btn btn-primary">Geri</a>
                    <button type="submit" class="btn btn-success">Düzenle</button>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
</div>
<style>
    .myCard {
        width: 1200px;
        height: 200px;
        padding-left: 250px;
    }
</style>
