@using Entities
@model Entities.Comment

<div class="myCard">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-text-width"></i>
                    Yorum Detay
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">Id: </dt>
                    <dd class="col-sm-8">@Model.Id</dd>
                    <dt class="col-sm-4">Icerik: </dt>
                    <dd class="col-sm-8">@Model.Text</dd>
                    <dt class="col-sm-4">Cevap: </dt>
                    <dd class="col-sm-8">@Model.Answer</dd>
                    <dt class="col-sm-4">Yorum Yapan: </dt>
                    <dd class="col-sm-8">@Model.UserId</dd>
                </dl>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <a type="button" href="@Url.Action("Index", "Comment")" class="btn btn-primary">Geri</a>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>
<style>
    .myCard {
        width: 1200px;
        height: 200px;
        padding-left: 250px;
    }
</style>
